{% extends "base.html" %}
{% block content %}
    <div>
        <div>
            <label for="">{{ music.title }}</label>
            <label for="">{{ music.uploader }}</label>
            <label for="">{{ music.duration }}</label>
            <label for="">{{ music.view_count }}</label>
            <img src="{{ music.thumbnail }}" alt="" width="200" height="200">
        </div>
        <form action="{% url 'app:DownloadMusic' %}" method="post">
            <input type="hidden" name="url" value="{{ url }}">
            <input type="hidden" name="name" value="{{ music.title }}">
            <button>Download</button>
        </form>
    </div>
{% endblock content %}


